@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Antonio", sans-serif;
  background-color: #ededf7;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
